{{# each products }}

<!--- ROW --->
<div class="row">
  <!--- COLUMN --->
  {{# each this }}
  <div class="col-sm-6 col-md-4">
    <div class="card item">
      <img class="card-img-top" src="{{ this.imagePath }}" alt="item image">
      <div class="card-body">
        <h5 class="card-title">{{ this.title }}</h5>
        <p class="card-text description">{{ this.description }}</p>
        <div>
          <div class="price float-left">${{ this.price }}</div>
          <a href="#" class="btn btn-info float-right">Add To Cart</a>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>

{{/each}}
